.card {
  display: grid;
  grid-template-columns: 292px 1fr;
  gap: 18px;
  padding: 14px;
  border: 1px solid #eff2ef;
  border-radius: 24px;
  background-color: #f8f9f8;
}

.imageWrap {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  background-color: var(--olive);
  min-height: 224px;
}

.image {
  object-fit: cover;
}

.content {
  display: grid;
  gap: 12px;
  padding: 8px 6px 8px 0;
}

.heading {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: start;
}

.title {
  font-size: 24px;
  line-height: 1.33;
  color: var(--main);
}

.price {
  font-size: 28px;
  font-weight: 600;
  color: var(--main);
}

.meta {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  color: var(--main);
  font-size: 12px;
}

.metaItem {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.metaIcon {
  color: var(--button);
}

.description {
  color: var(--gray);
  font-size: 14px;
  line-height: 1.43;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.tag {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 100px;
  background-color: #ffffff;
  color: var(--main);
  font-size: 12px;
  font-weight: 500;
}

.tagIcon {
  color: var(--main);
}

.button {
  width: fit-content;
  padding: 12px 24px;
  border-radius: 200px;
  background-color: #839b8c;
  color: var(--white);
  font-size: 12px;
  font-weight: 500;
}
